{% extends 'bootstrap_4_layout.html.twig' %}

{% block app_slug_widget %}
    {% from 'macros.html.twig' import modal %}
    {{ modal('modal-' ~ id, 'slug_type.modal.title'|trans, 'slug_type.modal.message'|trans, 'slug_type.modal.ok'|trans, 'slug_type.modal.cancel'|trans) }}

    {% set attr = attr|merge({
        'data-slug-field': '',
        'data-target': form.parent.children[target].vars.id,
        'data-modal-id': 'modal-' ~ id,
    }) %}

    <div class="input-group">
        {{ block('form_widget') }}
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
                <i class="fas fa-lock fa-fw"></i>
            </button>
        </div>
    </div>
{% endblock app_slug_widget %}
