parameters:
    bootstrapFiles:
        - vendor/symplify/easy-coding-standard/vendor/autoload.php
    paths:
        - bin/console
        - config
        - database/migrations
        - public/index.php
        - src
        - tests
        - ecs.php
    level: 1
    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
