{% extends 'layout.html.twig' %}
{% from 'macros.html.twig' import os_icon, device_icon, browser_icon %}

{% block body %}

    {% if logs|length > 0 %}
        <a href="{{ path('app_log_delete') }}" class="btn btn-danger float-right">
            <i class="fas fa-fw fa-trash"></i>
            {{ 'log.index.delete'|trans }}
        </a>
    {% endif %}

    <h1 class="mb-5">{{ 'log.index.title'|trans }}</h1>

    {% if logs|length > 0 %}
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th>{{ 'log.index.created_on'|trans }}</th>
                    <th>{{ 'log.index.label'|trans }}</th>
                    <th>{{ 'log.index.ip_address'|trans }}</th>
                    <th>{{ 'log.index.user_agent'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.createdOn|date('d/m/Y H:i:s') }}</td>
                        <td>
                            <a href="{{ log.url }}">
                                {{ log.label }}
                            </a>
                        </td>
                        <td>{{ log.ipAddress }}</td>
                        <td>
                            {% set device = get_user_agent_info(log.userAgent) %}

                            {% if device.isBot %}
                                <i class="fas fa-fw fa-robot"></i>
                                {{ device.bot.name }}
                                {% if device.bot.category is not empty %}
                                    ({{ device.bot.category }})
                                {% endif %}
                            {% else %}
                                {% if device.os is not null %}
                                    {{ os_icon(device.os.name) }}
                                    {{ device.os.name }}
                                    {{ device.os.version }}
                                    {{ device.os.platform }}
                                {% endif %}
                                <br />
                                {% if device.deviceName is not empty %}
                                    {{ device_icon(device.deviceName) }}
                                    {{ "log.index.device.#{device.deviceName}"|trans }}
                                {% endif %}
                                {% if device.brandName is not empty or device.model is not empty %}({{ device.brandName }} {{ device.model }}){% endif %}
                                <br />
                                {% if device.client is not null %}
                                    {{ browser_icon(device.client.name) }}
                                    {{ device.client.name }}
                                    {{ device.client.version }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">{{ 'log.index.no_logs'|trans }}</div>
    {% endif %}

{% endblock body %}
