$enable-responsive-font-sizes: true;
$custom-file-text: (
  en: "Browse",
  fr: "Parcourir",
);

@import "~bootswatch/dist/cosmo/variables";
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/cosmo/bootswatch";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.navbar {
  + .container {
    margin-top: 80px;
  }
}

.tutorial-big-badges {
  font-size: 20px;
}

.step-view {
  img {
    max-width: 100% !important;
    height: auto;
  }
}
