<form method="GET" action="#">
    <div class="input-group mb-5">
        <input type="text" class="form-control" placeholder="{{ 'search.form.placeholder'|trans }}" aria-label="{{ 'search.form.placeholder'|trans }}" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">{{ 'search.form.submit'|trans }}</button>
        </div>
    </div>
</form>
