{% from 'macros.html.twig' import flash_messages %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block page_title %}Ask Me Anything{% endblock page_title %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block extra_stylesheets %}{% endblock extra_stylesheets %}
        <link rel="icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {{ include('navigation.html.twig') }}

        {% block container %}
            <div class="container">
                {{ flash_messages() }}

                {% block body %}

                {% endblock body %}
            </div>
        {% endblock container %}

        {{ encore_entry_script_tags('app') }}
        {% block extra_javascript %}{% endblock extra_javascript %}
    </body>
</html>
