{% extends 'layout.html.twig' %}

{% block body %}

    <a href="{{ path('app_user_create') }}" class="btn btn-primary float-right">
        <i class="fas fa-fw fa-plus"></i>
        {{ 'datalist.actions.create'|trans }}
    </a>

    <h1 class="mb-4">{{ 'user.navigation_label'|trans }}</h1>

    {% if users|length > 0 %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ 'user.field.username'|trans }}</th>
                    <th>{{ 'user.field.role'|trans }}</th>
                    <th class="text-right">{{ 'datalist.actions.label'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ "user.choices.role.#{user.role}"|trans }}</td>
                        <td class="text-right">
                            <div class="btn-group btn-group-sm" role="group">
                                <a href="{{ path('app_user_update', { 'id': user.id }) }}" class="btn btn-secondary">
                                    <i class="fas fa-fw fa-pencil-alt"></i>
                                    {{ 'datalist.actions.update'|trans }}
                                </a>
                                <a href="{{ path('app_user_delete', { 'id': user.id }) }}" class="btn btn-danger" data-bootstrap="modal">
                                    <i class="fas fa-fw fa-trash"></i>
                                    {{ 'datalist.actions.delete'|trans }}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">{{ 'datalist.no_items'|trans }}</div>
    {% endif %}

{% endblock body %}
